extends ../layout

block content
    #create
    form(action='/bicicleta/create', method='post')
        .form-group
            h1.text-white Crear Bicicleta
            br
            label.text-white(for='id') ID:
            input#id.form-control(type='text', name='id')
            br
            label.text-white(for='color') Color:
            input#color.form-control(type='text', name='color')
            br
            label.text-white(for='modelo') Modelo:
            input#modelo.form-control(type='text', name='modelo')
            br
            label.text-white(for='latitud') Latitud:
            input#latitud.form-control(type='text', name='latitud')
            br
            label.text-white(for='longitud') Longitud:
            input#longitud.form-control(type='text', name='longitud')
            br
            input#edit.btn.btn-light(type='submit', value='Crear')