extends ../layout

block content
    #detail
    h1.text-white Bicicleta
    br
    br
    label.text-white(for='id') ID:&nbsp;
        = model.id
    br
    label.text-white(for='color') Color:&nbsp;
        = model.color
    br
    label.text-white(for='modelo') Modelo:&nbsp;
        = model.modelo
    br
    label.text-white(for='latitud') Latitud:&nbsp;
        = model.ubicacion[0]
    br
    label.text-white(for='longitud') Longitud:&nbsp;
        = model.ubicacion[1]