extends ../layout

block content
    #index
    a.btn.btn-light(href='/bicicleta/create#create') Crear Bicicleta
    table.table.table-dark.table-striped
      thead
        tr
          th(scope='col') Id
          th(scope='col') Color
          th(scope='col') Modelo
          th(scope='col') Ubicacion
          th(scope='col')
          th(scope='col')
          th(scope='col')
      tbody
        each bicicleta in model
          tr
            td(scope='row')
              = bicicleta.code
            td= bicicleta.color
            td= bicicleta.modelo
            td= bicicleta.ubicacion
            td
              a.btn.btn-light(href=`/bicicleta/detail/${bicicleta.code}#detail`) Ver
            td
              a.btn.btn-light(href=`/bicicleta/update/${bicicleta.code}#update`) Editar
            td
              form.inline(method='post', action=`/bicicleta/delete/${bicicleta.code}`)
                input(type='hidden', name='id', value=bicicleta.code)
                button.btn.btn-light(type='submit', name='eliminar') Eliminar