extends ../layout

block content
    #update
    h1.text-white Editar Bicicleta
    br
    br
    form(action=`/bicicleta/update/${model.id}`, method='post')
        .form-group
            label.text-white(for='id') ID:
            input#id.form-control(type='text', name='id', value=model.id)
            br
            label.text-white(for='color') Color:
            input#color.form-control(type='text', name='color', value=model.color)
            br
            label.text-white(for='modelo') Modelo:
            input#modelo.form-control(type='text', name='modelo', value=model.modelo)
            br
            label.text-white(for='latitud') Latitud:
            input#latitud.form-control(type='text', name='latitud', value=model.ubicacion[0])
            br
            label.text-white(for='longitud') Longitud:
            input#longitud.form-control(type='text', name='longitud', value=model.ubicacion[1])
            br
            input#edit.btn.btn-light(type='submit', value='Editar')