extends ../layout

block content
    #create
    form(action='/usuario/create', method='post')
        .form-group
            h1.text-white Crear Usuario
            br
            label.text-white(for='nombre') Nombre:
            input#nombre.form-control(type='text', name='nombre', value=model.nombre class=errors.nombre ? 'is-invalid' : '')
            if errors.nombre
                small#nombreHelp.text-danger
                    = errors.nombre.message
            br
            label.text-white(for='email') Email:
            input#email.form-control(type='email', name='email', value=model.email class=errors.email ? 'is-invalid' : '')
            if errors.email
                small#emailHelp.text-danger
                    = errors.email.message
            br
            input#edit.btn.btn-light(type='submit', value='Crear')