extends ../layout

block content
    #detail
    h1.text-white Usuario
    br
    br
    label.text-white(for='id') ID:&nbsp;
        = model.id
    br
    label.text-white(for='nombre') Nombre:&nbsp;
        = model.nombre
    br
    label.text-white(for='email') Email:&nbsp;
        = model.email