extends ../layout

block content
    #index
    a.btn.btn-light(href='/usuario/create#create') Crear Usuario
    table.table.table-dark.table-striped
      thead
        tr
          th(scope='col') Id
          th(scope='col') Nombre
          th(scope='col') Email
          th(scope='col') Verificado
          th(scope='col')
          th(scope='col')
          th(scope='col')
      tbody
        each usuario in model
          tr
            td(scope='row')
              = usuario.id
            td= usuario.nombre
            td= usuario.email
            td= usuario.verificado
            td
              a.btn.btn-light(href=`/usuario/detail/${usuario.id}#detail`) Ver
            td
              a.btn.btn-light(href=`/usuario/update/${usuario.id}#update`) Editar
            td
              form.inline(method='post', action=`/usuario/delete/${usuario.id}`)
                input(type='hidden', name='id', value=usuario.id)
                button.btn.btn-light(type='submit', name='eliminar') Eliminar