extends ../layout

block content
    #update
    h1.text-white Editar Usuario
    br
    br
    form(action=`/usuario/update/${userId}`, method='post')
        .form-group
            label.text-white(for='id') ID:
            input#id.form-control(type='text', readonly, name='id', value=userId, class=errors.id ? 'is-invalid' : '')
            br
            label.text-white(for='nombre') Nombre:
            input#nombre.form-control(type='text', name='nombre', value=model.nombre, class=errors.nombre ? 'is-invalid' : '')
            if errors.nombre
                small#nombreHelp.text-danger
                    = errors.nombre.message
            br
            label.text-white(for='email') Email:
            input#email.form-control(type='email', name='email', value=model.email, class=errors.email ? 'is-invalid' : '')
            if errors.email
                small#emailHelp.text-danger
                    = errors.email.message
            br
            input#edit.btn.btn-light(type='submit', value='Editar')